body {
    background-color: #1e1e1e;
    color: #fff;
    padding: 90px 0 0 0;
  }
  .dark-input {
    background-color: #232323;
    color: #fff;
    border: 1px solid #404040;
  }
  .member-bgc {
    background-color: #282828;
    border-radius: 10px;
  }
  .contain {
    padding: 30px 40px;
  }
  .card {
    background-color: var(--bg-gray-light-color);
    border-radius: 10px;
  }