/* forgetPassword.module.css */
.authButtonVisible {
  display: none;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.slideOutAnimation {
  display: block;
  animation: slideOut 0.5s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
